<div id="previously_viewed_list">
  <% if previously_viewed.count == 0 %>
    <p>
    <span>There aren't previously viewed videos</span>
    </p>
  <% end %>
  <% previously_viewed.each do |view| %>
    <%= render partial: 'videos/line', locals: {view: view} %>
  <% end %>
</div>

