<h1>Videos</h1>

<%= form_tag("/", method: "get", remote: true, id: "genreForm") do %>
  <%= select("genre", "genre_name", options_for_select(Genre.all.map { |g| g.name }, @current_genre)) %>
<% end %>

<div id="videoList">
  <% @all_videos.each do |video| %>
    <li><%= video.title %> (<%= video.genre %>)</li>
  <% end %>
</div>
